/* SITE COLORS

~ Rich Black FOGRA 39: #121212
~ White: #FFFFFF
~ Tufts Blue(banner button blue): #3898EC
~ Independence(companies worked with): #444B5E
~ Manatee(paragraph colors): #9BA2B2
~ Persian Blue(straightway banner): #2E2BB8
~ Eerie Black(map platform bgcolor): #202020
~ Azure(map platform bgcolor on hover): #007AFC
~ Eerie Black(showcase bg): #1B1B1B
~ Cadet Grey(footer "copyright mapbox" color): #9CACB4
~ Snapchat Yellow: #FFFB12

*/

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Cerapro", sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.6rem;
}

main {
  width: 100%;
  height: auto;
  background-color: #121212;
}

.flex {
  display: flex;
}

/* FONTS */
@font-face {
  font-family: "Cerapro";
  src: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f7485e977e62eb1e5f87d0e_CeraPRO-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cerapro";
  src: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f7485eb2f38e10eb095d13a_CeraPRO-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cerapro";
  src: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f7485e9fa7e9cbc056dec7a_CeraPRO-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cerapro";
  src: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f74861c49448d51bf191e55_CeraPRO-RegularItalic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* BANNER */

/* NAVIGATION */

nav {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

img#mapbox-logo {
  align-self: flex-start;
  width: 10rem;
}

div#nav > * {
  margin-right: 40px;
}

nav a:link,
nav a:visited {
  background-color: #121212;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

nav a#sign-in:link,
a#sign-in:visited {
  background-color: #4a4c4d;
  padding: 2px 12px;
  width: auto;
  border-radius: 20px;
}
nav a#sign-in:active,
nav a#sign-in:hover {
  background-color: #87888a;
}

/* SLIDER */

div#sliders {
  justify-content: space-between;
  background-color: #121212;
  padding: 30px;
  /* border: 3px solid #007AFC; */
}

div#sliders > * {
  display: inline-block;
  border-radius: 4px;
  color: #ffffff;
  margin: 10px;
}

.slider > * {
  margin: 50px;
}

div#slider1 {
  border: 2px solid #4a4c4d;
  background-image: url(assets4/img/data.jpg);
}

div#slider2 {
  border: 2px solid #4a4c4d;
  background-image: url(assets4/img/data.jpg);
}

div#slider3 {
  border: 2px solid #4a4c4d;
  background-image: url(assets4/img/data.jpg);
}

div#slider4 {
  border: 2px solid #4a4c4d;
  background-image: url("https://assets.website-files.com/5cfe639004ff071bedd1150e/5cfeaaddb4e53b90d444842e_hero-video-poster-00001.jpg");
  background-position: center;
}

/* MAPS & LOCATION 4 DEVS SECTION */
div#maps-and-location,
div#maps-info {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

div#maps-and-location > *,
div#maps-info > * {
  margin: 15px;
  text-align: center;
}

div#maps-and-location h1,
div#maps-info h2 {
  color: #ffffff;
  font-size: 72px;
  line-height: 4rem;
}

div#maps-and-location p,
div#maps-info p {
  color: #9ba2b2;
  font-size: 24px;
}

div#maps-and-location a:link,
div#maps-and-location a:visited {
  background-color: #3898ec;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  padding: 8px 30px;
}

div#maps-and-location a:active,
div#maps-and-location a:hover {
  background-color: #004185;
}

div#companies {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 35px;
}

div#company img {
  width: 150px;
}

/* MAPS */

div#maps-info {
  margin-top: 150px;
}

div#maps-info a:link,
div#maps-info a:visited {
  background-color: #121212;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  padding: 8px 30px;
  border: 1px solid #ffffff;
}

div#maps-info a:active,
div#maps-info a:hover {
  background-color: #1b1c1e;
}

div#maps-pics > * {
  margin: 15px;
}

div#maps-pics {
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
}

div#map-pic img {
  width: 550px;
  height: 550px;
}

/* MAPBOX STUDIO & NAVIGATION */

div#mapbox-studio-container,
div#navigation-container {
  margin: 180px 20px;
}

div#mapbox-studio-container > *,
div#navigation-container > * {
  margin: 40px;
  line-height: 2rem;
}

div#mapbox-studio-pic img {
  width: 700px;
  height: 400px;
}

div#mapbox-studio-info > *,
div#navigation-info > * {
  margin: 40px;
}

div#mapbox-studio-info h2,
div#navigation-info h2 {
  color: #ffffff;
  font-size: 56px;
  line-height: 4rem;
}
div#mapbox-studio-info p,
div#navigation-info p {
  color: #9ba2b2;
  font-size: 24px;
}
div#mapbox-studio-info a:link,
div#mapbox-studio-info a:visited,
div#navigation-info a:link,
div#navigation-info a:visited {
  background-color: #121212;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  padding: 8px 30px;
  border: 1px solid #ffffff;
}

div#mapbox-studio-info a:active,
div#mapbox-studio-info a:hover,
div#navigation-info a:active,
div#navigation-info a:hover {
  background-color: #1b1c1e;
}

/* NAVIGATION */

div#navigation-pics {
  position: relative;
  margin-top: 125px;
  margin-right: 125px;
}

div#navigation-pics img#nav-img-one {
  width: 600px;
  height: auto;
}

div#navigation-pics img#nav-img-two {
  width: 300px;
  height: 450px;
  position: absolute;
  left: auto;
  top: -125px;
  right: 15px;
  bottom: auto;
}
